<div class="card">
  <div class="card-img-top">
    <img src="{{flags.png}}" alt="">
  </div>
  <div class="card-body">
    <h2 class="card-title">Ім'я: {{name.common}}</h2>
    <p class="card-text">Capital: {{capital}}</p>
    <p class="card-text">Population: {{population}}</p>

    <p class="card-text">Languages</p>
    <ul class="list-group">
        {{#each languages}}   
        <li class="list-group-item">{{languages.name}} </li>
        {{/each}} 
    </ul>
  </div>
</div>
